{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
{% check_limit_spent request.user as limit %}
{% if create and limit %}
    <div class="col-lg-12 text-center">
        <h2>Уведомление</h2>
        <br>
        <h5>Уважаемый <i>{{ request.user.username }}</i>! </h5><br>
        Вы достигли лимита в <i><b>{{ limit }}</b></i>
        публикаций в сутки.<br>
        Пожалуйста, разместите вашу публикацию на нашем сайте позднее.<br>
        Спасибо за понимание!
    </div>
{% elif not create and request.user != post.author.author_acc %}
    <div class="col-lg-12 text-center">
        <h1>Редакторование запрещено</h1>
        <hr><br>
        <h5>Вы не являетесь автором выбранной публикации, поэтому не можете изменять её</h5>
        <br><br><br>
        <a class="btn btn-outline-dark" href="../" role="button">Назад</a>
    </div>
{% else %}
    <div class="col-lg-12 text-center">
        <h1>{{ title }}</h1>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <h4>{{ form.title.label }}</h4>
            {{ form.title }}
            <br><br>
            <h4>{{ form.category.label }}</h4>
            {% for checkbox in form.category %}
                <i>{{ checkbox }} </i> &nbsp
            {% endfor %}
            <br>
            {{ form.category.help_text }}
            <br><br>
            <h4>{{ form.text.label }}</h4>
            {{ form.text }}
            <br><br>
            <input type="submit" value="Сохранить" />
        </form>
        <br>
    </div>
{% endif %}
{% endblock content %}
